// Main Nav
// ------------------------------------------------------------------------------

//	<div class="main-nav">
//		<ul class="main-nav__list">
//			<li class="main-nav__item">
//				<a class="main-nav__link main-nav__link--active"></a>
//				<a class="main-nav__link"></a>
//			</li>
//		</ul>
//	</div>11
//

/* Mobile main nav styles */
.main-nav {
	background: #302b3e;

	&__list
	{
		display: table;
    margin: 0 auto;
    padding: 10px 0 0;
    list-style: none;
	}

	&__item
	{
    display: inline-block;
	}

	&__link
	{
		display: inline-block;
		padding: 20px 15px;
		font-family: 'Redwood', sans-serif;
		font-size: 1.2rem;
		color: #fff;
		text-decoration: none;
		text-transform: uppercase;
		transition: color 100ms ease;

		&:hover
		{
			color: #e2e260;
			transition: color 100ms ease;
		}
	}
}

@include breakpoint(medium){
	.main-nav {
		&__link
		{
			padding: 20px 40px;
			font-size: 1.4rem; 
		}
	}
}

@include breakpoint(large){
	.main-nav {
		&__link
		{
			padding: 20px 50px;
			font-size: 1.5rem; 
		}
	}
}