// Define color variables here
// ------------------------------------------------------------------------------

$blue-primary: #01add8;
$blue-secondary: #008bc4;

$purple-primary: #643e89;
$purple-secondary: #4a2873;

$white: #fff;
$gray: #666;
$catskill-white: #e9f2f5; 
$havelock-blue: #4b9ddc;
$dodger-blue: #3ba8fc;
$picton-blue: #2cd2e6;


// Variables
// ------------------------------------------------------------------------------
$color-link: $picton-blue;
$color-link-hover: $havelock-blue;