// Embedded fonts are declared here
// ------------------------------------------------------------------------------

@font-face {
  font-family: "fontello";
  src: url('../../assets/fonts/fontello/fontello.eot?81278657');
  src: url('../../assets/fonts/fontello/fontello.eot?81278657#iefix') format('embedded-opentype'),
       url('../../assets/fonts/fontello/fontello.woff?81278657') format('woff'),
       url('../../assets/fonts/fontello/fontello.ttf?81278657') format('truetype'),
       url('../../assets/fonts/fontello/fontello.svg?81278657#fontello') format('svg');
  font-weight: normal;
  font-style: normal;

  font-family: "Redwood";
  src: url('../../assets/fonts/Redwood/Redwood.eot?81278657');
  src: url('../../assets/fonts/Redwood/Redwood.eot?81278657#iefix') format('embedded-opentype'),
       url('../../assets/fonts/Redwood/Redwood.woff?81278657') format('woff'),
       url('../../assets/fonts/Redwood/Redwood.ttf?81278657') format('truetype'),
       url('../../assets/fonts/Redwood/Redwood.svg?81278657#Redwood') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Meltow Marker";
  src: url('../../assets/fonts/meltow/Meltow-Marker.eot?81278657');
  src: url('../../assets/fonts/meltow/Meltow-Marker.eot?81278657#iefix') format('embedded-opentype'),
       url('../../assets/fonts/meltow/Meltow-Marker.woff?81278657') format('woff'),
       url('../../assets/fonts/meltow/Meltow-Marker.ttf?81278657') format('truetype'),
       url('../../assets/fonts/meltow/Meltow-Marker.svg?81278657#Redwood') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Meltow Sans";
  src: url('../../assets/fonts/meltow/MeltowSan100-Regular.eot?81278657');
  src: url('../../assets/fonts/meltow/MeltowSan100-Regular.eot?81278657#iefix') format('embedded-opentype'),
       url('../../assets/fonts/meltow/MeltowSan100-Regular.woff?81278657') format('woff'),
       url('../../assets/fonts/meltow/MeltowSan100-Regular.ttf?81278657') format('truetype'),
       url('../../assets/fonts/meltow/MeltowSan100-Regular.svg?81278657#Redwood') format('svg');
  font-weight: normal;
  font-style: normal;
}

@mixin fa($icon){
    font-family: FontAwesome;
    content: $icon;
}

$icon-arrow-down: '\f0d7';
$icon-double-up: '\f102'; 
$icon-double-down: '\f103';
$icon-close: '\f00d';