// Scaffolding styles are declared here. e.g containers, grid
// ------------------------------------------------------------------------------


*, *:before, *:after {@include prefixer(box-sizing, border-box, webkit moz spec); }

html {
	font-family: "mobile";

	@include breakpoint(medium) {
	 	font-family: "tablet";
  }

	@include breakpoint(large) {
		font-family: "desktop";
	}
}

body 
{
  background: #e0e4ea;
}

.inner-container
{
  width: 100%;
  max-width: 1224px;
  margin: 0 auto;
  padding: 0 $padding-mobile;
}

img 
{
  display: block;
  max-width: 100%;
}

input, textarea, button
{
  &:focus
  {
    outline: 1px solid $dodger-blue;
  }
}