// Typography styles go here.
// ------------------------------------------------------------------------------

@import "fonts";

html
{
  font-size: 14px;
}

body
{
  font-family: $font-body;
  color: #666;
  line-height: 1.4;
}

h1, h2, h3, h4, h5, h6
{
  margin: 0;
  font-family: $font-heading;
}

h3
{
  margin: 20px 0 0;
  font-size: rem(21);
}

p 
{
  margin: 0 0 rem(16); 
}

a
{
  color: $color-link;
  text-decoration: none;
  transition: color 200ms;

  &:link, &:active, &:visited
  {
    color: $color-link;
  }

  &:hover, &:focus
  {
    color: $color-link-hover;
  }
}

@include breakpoint(medium) {
  h3
  {
    font-size: rem(25);
  }

  p 
  {
    font-size: 15px;
  }
}

@include breakpoint(large) {
  h3 
  {
    font-size: rem(28);
  }

  p 
  {
    font-size: 16px;
  }
}
