// Site settings
// ------------------------------------------------------------------------------

$oldIE: false !default;


// Media Queries
// ------------------------------------------------------------------------------

// https://responsivedesign.is/develop/browser-feature-support/media-queries-for-common-device-breakpoints
$breakpoints: (
	small:  320px,  /* Smartphones --------------- */
	medium: 768px,  /* Tablets Portrait ---------- */
	large:  980px, /* Desktops and laptops ------ */
	xlarge: 1824px  /* Large screens ------------- */
);

$small:  map-get($breakpoints, small);
$medium: map-get($breakpoints, medium),'no-query' true;
$large:  map-get($breakpoints, large),'no-query' true;
$xlarge: map-get($breakpoints, xlarge),'no-query' true;


// Font Families
// ------------------------------------------------------------------------------

$font-body: "Roboto", "sans-serif";
$font-heading: "Meltow Sans", "sans-serif";
$font-section: "Meltow Marker";
$font-button: "Meltow Sans", "sans-serif";

// Font weights
// ------------------------------------------------------------------------------

$lightWeight: 300;
$regularWeight: 400;
$boldWeight: 600;

// Padding
// ------------------------------------------------------------------------------

$padding-mobile: 15px;
$padding-tablet: 30px;
$padding-desktop: 60px;