.banner
{
  padding: 180px 0 0;
  background: $white;

  &__title
  {
    width: 81.5%;
    max-width: 400px;
    margin: 0 auto;
  }

  &__date
  {
    max-width: 205px;
    margin: 0 auto;
    padding: 25px 0 95px; 
  }

  &__leaves-left 
  {
    position: absolute;
    top: 0;
    left: 0;

    &-d { display: none; }
  }

  &__leaves-right
  {
    position: absolute;
    top: 60px;
    right: 0;

    &-d { display: none; }
  }
}

@include breakpoint(medium) {
  .banner
  {
    padding: 250px 0 0;

    &__date
    {
      padding-bottom: 55px;
    }

    &__leaves-left
    {
      display: none;

      &-d 
      {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 540px;
      }
    }

    &__leaves-right
    {
      display: none;

      &-d 
      {
        position: absolute;
        top: 0;
        right: 0;
        display: block;
        width: 340px;
      }
    }
  }
}

@include breakpoint(large) {
  .banner
  {
    padding: 300px 0 0;

    &__leaves-left
    {
      &-d 
      {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: auto;
      }
    }

    &__leaves-right
    {
      &-d 
      {
        position: absolute;
        top: 0;
        right: 0;
        display: block;
        width: auto;
      }
    }
  }
}