.rsvp
{
  z-index: 1;
  position: fixed;
  width: 100%;
  max-width: 980px;
  -webkit-box-shadow: 0px 4px 14px -5px rgba(0,0,0,0.69);
  -moz-box-shadow: 0px 4px 14px -5px rgba(0,0,0,0.69);
  box-shadow: 0px 4px 14px -5px rgba(0,0,0,0.69);
  transition: transform 300ms;

  &:after
  {
    @include fa($icon-double-down);
    position: absolute;
    top: 14px;
    right: 30px;
    font-size: 35px;
    font-weight: normal;
    color: $white;
    transition: font-size ease-out 300ms, top ease-out 300ms; 
  }

  &.hidden 
  {
    .rsvp__title {
      font-size: 40px;
    }

    &:after {
      font-size: 30px;
      top: 8px;
    }
  }

  &.open
  {
    &:after
    {
      @include fa($icon-double-up);
      position: absolute;
      top: 12px;
      right: 30px;
      font-size: 35px;
      font-weight: normal;
      color: $white;
    }
  }

  &.hidden.open {
    &:after {
      font-size: 30px;
      top: 8px;
    }
  }

  &__title
  {
    transition: all ease-out .25s;
  }

  &__form
  {
    display: none;
    padding: $padding-tablet 0;
  }

  &__label
  {
    font-family: $font-heading;
    font-size: 18px;
    text-transform: uppercase;
    line-height: 1;

    &--radio-title
    {
      margin: 0 0 rem(5);
    }

    &--radio
    {
      display: inline-block;
      margin: rem(3) 0 rem(10);
      font-family: $font-body;
      font-size: 14px;
      text-transform: none;
      cursor: pointer;
    }
  }

  &__input
  {
    display: block;
    width: 100%;
    margin: rem(3) 0 rem(32);
    padding: rem(7);
    background: $catskill-white;
    border: 0;
    outline: none;

    &[type="radio"]
    {
      display: inline-block;
      width: auto;
      margin: 0;
      vertical-align: middle;
    }
  }

  &__radio-group
  {
    margin: 0 0 rem(22);
    padding: 0;
    border: none;
  }
}

@include breakpoint(medium) {
  .rsvp
  {
    &__form
    {
      padding: 50px 0;
    }
  }
}