.section
{
  padding: 0 0 rem(30);
  background: $white;
  
  &__title
  {
    margin: 0 0 rem(30);
    padding: 10px 0 5px;
    text-align: center;
    font-family: $font-section;
    font-size: 60px;
    color: $white;
    line-height: 1;
    background: url('/../Static/assets/images/watercolor-big.png');
    cursor: pointer;

    &.rsvp__title { margin: 0; }

    #gifts.section {
      text-align: center;

      a { display: inline-block; }
    }
  }
}

@include breakpoint(medium) {
  .section
  {
    padding: 0 0 rem(55);

    &__title 
    {
      margin: 0 0 rem(55);
    }

    &__content
    {
      -webkit-column-count: 2; 
      -moz-column-count: 2;
      column-count: 2; 
       
      h3:first-child { margin-top: 0; } 

      h3 { column-break-after: avoid; }
    }

    &__content > * {
      -webkit-column-break-inside: avoid;
      column-break-inside: avoid;
    }
  }

  #gifts.section {
    &__content {
      -webkit-column-count: 1;
      -moz-column-count: 1;
      column-count: 1;
    }
  }
}

@include breakpoint(large) {
  .section
  {
    padding: 0 0 rem(60);

    &__title
    {
      margin: 0 0 rem(60);
    }
  }
}