.thanks
{
  padding-bottom: 80px;

  &__content
  {
    padding-bottom: 20px;
    font-size: rem(18);
    text-align: center;
  }

  &__img-container
  {
    position: relative;
    width: calc(100% - 30px);
    margin: 0 auto;
    padding-top: 26px;
  }

  &__img
  {
    width: 220px;
    margin: 0 auto;
    border-radius: 50%;
    overflow: hidden;
  }

  &__border
  {
    position: absolute;
    top: 6px;
    left: 0;
    right: 0;
    width: 260px;
    margin: 0 auto;
  }
}

.form-confirmation
{
  .thanks__content
  {
    padding-bottom: 0;
  }

  .btn-primary
  {
    position: relative;
    display: block;
    width: 175px;
    margin: 20px auto 30px;
    padding-left: 38px;

    &:before
    {
      @include fa($icon-arrow-left);
      position: absolute;
      top: 5px;
      left: 14px;
    }
  }
}

@include breakpoint(medium) {
  .thanks
  {
    padding-bottom: 100px;

    &__img-container
    {
      padding-top: 32px;
    }

    &__img
    {
      width: 335px;
    }

    &__border 
    {
      width: 400px;
      top: 0;
    }
  }
}

@include breakpoint(large) {
  .thanks
  {
    &__border
    {
      
    }
  }
}