// Homepage specific styles
// ------------------------------------------------------------------------------


// .banner
// {
//   position: relative;
//   background: #fff;
//   overflow: hidden;
//   height: 400px;

//   &__image-flowers
//   {
//     z-index: 5;
//     position: absolute;
//     left: 0;
//     bottom: -5px;
//     width: 200%;
//   }

//   &__image-manda
//   {
//     position: absolute;
//     top: 350px;
//     right: -3%;
//     width: 200px;
//   }
// }

.hello
{
  background: #fff;

  &__img 
  {
    width: 100%;
  }
}

#info
{
 background: #fff;
}

#gifts
{
  background: #fff;
} 

#rsvp
{
  background: #fff;
}

@include breakpoint(medium) {
  .banner
  {
    &__image-flowers
    {
      z-index: 5;
      position: absolute;
      left: -5px;
      bottom: -5px;
      width: 200%;
    }

    &__image-manda
    {
      right: 12%;
      width: 330px;
    }
  }

  .hello
  {
    &__img
    {
      display: inline-block;
      // width: span(4);
      width: 25%;
      margin-right: 30px;
      vertical-align: top;

    }

    &__content
    {
      display: inline-block;
      // width: span(8);
      width: 65%;
      vertical-align: top;
    }
  }
}

@include breakpoint(large) {
  .banner
  {
    height: 500px;

    &__image-manda
    {
      right: 200px;
      width: 460px;
    }
  } 
}


